<br>
<p style="color: green"><%= notice %></p>
<br>
<section class="ml-10 mr-auto"><br>
  <h1 class="font-bold text-3xl">User: <%= @user.full_name %></h1><br>

  <h2 class="font-bold text-2xl">Card: </h2><br>

  <div>
    <%= render @user %>
  </div><br>

  <div>
    <%= link_to "Edit user", edit_user_path(@user), class:"shadow bg-green-700 hover:bg-green-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" %> |
    <%= link_to "Back", users_path, class:"shadow bg-gray-700 hover:bg-gray-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" %>
    <br><br>
    <%= button_to "Delete", @user, method: :delete, class:"shadow bg-red-700 hover:bg-red-500 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" %>
  </div><br><br>

  <h2 class="font-bold text-2xl">Products: </h2><br>
  <div class=" w-full flex flex-row p-2">
    <% for i in 0...@user.products.length %>
      <div class="text-gray-100 ml-10 shadow-lg shadow-gray-300 w-full md:w-96 h-52 bg-gradient-to-br from-gray-800 to-gray-400 p-4 rounded relative max-w-[24rem]">
        <div><b>Product: </b><%= i+1 %></div>
        <div><b>Name: </b><%= @user.products[i].product_name %></div>
        <div><b>Price: </b><%= @user.products[i].product_price %></div>
        <div><b>Description: </b><%= @user.products[i].product_description %></div>
      </div>
    <% end %>
  </div><br><br>

</section>

